/* Alert */
.alert {
  visibility: hidden;
}
/* Main shape */
.shape-holder {
  position: absolute;
  left: calc(50% - 130px);
  bottom: calc(50% - 100px);
  width: 260px;
  height: 260px;
  border: dotted 5px;
}
.shape {
  width: 250px;
  height: 250px;

  background-color: tomato;
}
/* code output */
.output-holder {
  position: absolute;
  top: 2%;
  left: 2%;

  text-align: center;
  width: 20%;
  height: 100px;
}
.code-output {
  resize: none;
  height: 100px;
}
/* Main slider */
.all-holder {
  position: absolute;
  left: 2%;
  top: 35%;
  width: 120px;
  height: fit-content;
}
#all {
  width: 100px;
  display: block;
}
/* vertical sliders */
.bord {
  width: 100px;
}
#tl,
#tr {
  transform: rotate(90deg);
}
#bl,
#br {
  transform: rotate(270deg);
}
.c-top-right,
.c-bottom-right {
  transform: rotate(180deg);
}
/* Top-left slider */
.tl-holder {
  position: absolute;
  left: calc(50% - 190px);
  bottom: calc(50% + 90px);
  width: 220px;
  height: fit-content;
}
/* Complex-Top-left slider */
.c-tl-holder {
  position: absolute;
  left: calc(50% - 115px);
  bottom: calc(50% + 155px);
  width: 220px;
  height: fit-content;
}
/* Top-right slider */
.tr-holder {
  position: absolute;
  right: calc(50% - 310px);
  bottom: calc(50% + 90px);
  width: 220px;
  height: fit-content;
}
/* Complex-Top-Right slider */
.c-tr-holder {
  position: absolute;
  left: calc(50% + 20px);
  bottom: calc(50% + 155px);
  width: 220px;
  height: fit-content;
}
/* Bottom-left slider */
.bl-holder {
  position: absolute;
  left: calc(50% - 190px);
  bottom: calc(50% - 90px);
  width: 220px;
  height: 100px;
}
/* Complex-Bottom-Left slider */
.c-bl-holder {
  position: absolute;
  left: calc(50% - 115px);
  bottom: calc(50% - 170px);
  width: 200px;
  height: fit-content;
}
/* Bottom-right slider */
.br-holder {
  position: absolute;
  right: calc(50% - 310px);
  bottom: calc(50% - 90px);
  width: 220px;
  height: 100px;
}
/* Complex-Bottom-Right slider */
.c-br-holder {
  position: absolute;
  left: calc(50% + 20px);
  bottom: calc(50% - 170px);
  width: 200px;
  height: fit-content;
}
/* Badge */
.badge-info {
  width: 50px;
}
.badge {
  display: block;
  width: fit-content;
}
.mr {
  margin-left: 80px;
}
.ml {
  margin-left: -40px;
}
/* Button */
.btn {
  margin: 5px;
}
@media screen and (max-width: 880px) {
  body {
    background-color: lightcoral;
  }
  .alert {
    visibility: visible;
  }
}
@media screen and (max-height: 460px) {
  body {
    background-color: lightcoral;
  }
  .alert {
    visibility: visible;
  }
}
